.how-work__title {
    font-size: clamp(1.7rem, 6vw, 2.25rem)
}

.how-work__desc {
    font-size: clamp(0.75rem, 4vw, 1rem)
}

.chain__element {
    position: relative;

}
.how-work__chain hr {
    width: clamp(1px, 7.3vw, 110px);
    border: none;
    border-bottom: dotted var(--button-primary-color) 2px;
    background-color: white;
    padding-top: 40px;
}

.chain__picture {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chain__desc {
    max-width: 12vw;
}

@media (max-width: 1024px) {
    .how-work__chain hr {
        display: none;
    }
    .how-work__chain {
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
    }
    .chain__element {
        grid-column: span 1;
    }
    .chain__desc {
        max-width: none;
    }
}
@media (max-width: 700px) {
    .how-work__chain {
        grid-template-columns: repeat(2, 1fr);
    }
    .chain__desc {
        font-size: 14px;
    }
}

@media (max-width: 375px) {
    .how-work__chain {
        grid-template-columns: repeat(1, 1fr);
    }
    .chain__desc {
        max-width: 50vw;
        row-gap: 20px;
        font-size: 14px;
    }
}
