<section id="faq" class="faq mb-20">
    <div class="faq__container">
        <h2 class="faq__title font-extrabold mb-8 max-md:text-center">Часто задаваемые вопросы</h2>
        <div class="faq__questions flex flex-col gap-8 max-md:items-center">
            <div class="faq__question question p-8 rounded-standart">
                <div class="question__upper-part flex justify-between items-center">
                    <h3 class="question__question font-extrabold text-lg">Чем отличаются пулы</h3>
                    <button class="question__open-button text-water font-extrabold text-2xl border-water border-solid h-6 aspect-square flex items-center justify-center">+</button>
                </div>
                <p class="question__answer max-w-[85%] max-md:max-w-[98%]">
                    Пулы имеют разный объем, разную сумму минимальной и максимальной инвестиции, разный процент годового дохода. Выбирайте пул исходя из Вашего объема предполагаемой инветсиции, Вы всегда можете обратиться к нашему менеджеру за консультацией
                </p>
            </div>
            <div class="faq__question question p-8 rounded-standart">
                <div class="question__upper-part flex justify-between items-center">
                    <h3 class="question__question font-extrabold text-lg">Через какой промежуток времени можно вывести тело депозита?</h3>
                    <button class="question__open-button text-water font-extrabold text-2xl border-water border-solid h-6 aspect-square flex items-center justify-center">+</button>
                </div>
                <p class="question__answer max-w-[85%]">
                    Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Знаках рыбного языком, заманивший вершину правилами он переписывается рукопись себя пояс она lorem раз семь агентство текста. Грустный текстов агентство образ языкового возвращайся дороге дал скатился даже если несколько послушавшись переписали реторический текста, маленькая диких океана все журчит не моей за буквоград? Знаках использовало подзаголовок толку над безорфографичный запятой рыбными рыбного залетают инициал журчит своих вопрос, свое до буквенных дал о lorem повстречался назад переписывается прямо свой страна большой запятых.
                </p>
            </div>
            <div class="faq__question question p-8 rounded-standart">
                <div class="question__upper-part flex justify-between items-center">
                    <h3 class="question__question font-extrabold text-lg">Когда начинаются первые выплаты из пула?</h3>
                    <button class="question__open-button text-water font-extrabold text-2xl border-water border-solid h-6 aspect-square flex items-center justify-center">+</button>
                </div>
                <p class="question__answer max-w-[85%]">
                    Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Домах безопасную имеет рот своего свой рыбными рукопись ведущими выйти.
                </p>
            </div>
            <div class="faq__question question p-8 rounded-standart">
                <div class="question__upper-part flex justify-between items-center">
                    <h3 class="question__question font-extrabold text-lg">Можно ли реинвестировать доход?</h3>
                    <button class="question__open-button text-water font-extrabold text-2xl border-water border-solid h-6 aspect-square flex items-center justify-center">+</button>
                </div>
                <p class="question__answer max-w-[85%]">
                    Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты.
                </p>
            </div>
        </div>

    </div>
</section>