<section class="faq mb-20">
    <div class="faq__container">
        <h2 class="faq__title font-extrabold mb-8">Часто задаваемые вопросы</h2>
        <div class="faq__questions flex flex-col gap-8">
            <div class="faq__question question p-8 rounded-standart">
                <div class="question__upper-part flex justify-between items-center">
                    <h3 class="question__question font-extrabold text-lg">Чем отличаются пулы</h3>
                    <button class="question__open-button text-water font-extrabold text-2xl border-water border-solid h-6 aspect-square flex items-center justify-center">+</button>
                </div>
                <p class="question__answer max-w-[85%]">
                    Пулы имеют разный объем, разную сумму минимальной и максимальной инвестиции, разный процент годового дохода. Выбирайте пул исходя из Вашего объема предполагаемой инветсиции, Вы всегда можете обратиться к нашему менеджеру за консультацией
                </p>
            </div>
            <div class="faq__question question p-8 rounded-standart">
                <div class="question__upper-part flex justify-between items-center">
                    <h3 class="question__question font-extrabold text-lg">Чем отличаются пулы</h3>
                    <button class="question__open-button text-water font-extrabold text-2xl border-water border-solid h-6 aspect-square flex items-center justify-center">+</button>
                </div>
                <p class="question__answer max-w-[85%]">
                    Пулы имеют разный объем, разную сумму минимальной и максимальной инвестиции, разный процент годового дохода. Выбирайте пул исходя из Вашего объема предполагаемой инветсиции, Вы всегда можете обратиться к нашему менеджеру за консультацией
                </p>
            </div>
            <div class="faq__question question p-8 rounded-standart">
                <div class="question__upper-part flex justify-between items-center">
                    <h3 class="question__question font-extrabold text-lg">Чем отличаются пулы</h3>
                    <button class="question__open-button text-water font-extrabold text-2xl border-water border-solid h-6 aspect-square flex items-center justify-center">+</button>
                </div>
                <p class="question__answer max-w-[85%]">
                    Пулы имеют разный объем, разную сумму минимальной и максимальной инвестиции, разный процент годового дохода. Выбирайте пул исходя из Вашего объема предполагаемой инветсиции, Вы всегда можете обратиться к нашему менеджеру за консультацией
                </p>
            </div>
            <div class="faq__question question p-8 rounded-standart">
                <div class="question__upper-part flex justify-between items-center">
                    <h3 class="question__question font-extrabold text-lg">Чем отличаются пулы</h3>
                    <button class="question__open-button text-water font-extrabold text-2xl border-water border-solid h-6 aspect-square flex items-center justify-center">+</button>
                </div>
                <p class="question__answer max-w-[85%]">
                    Пулы имеют разный объем, разную сумму минимальной и максимальной инвестиции, разный процент годового дохода. Выбирайте пул исходя из Вашего объема предполагаемой инветсиции, Вы всегда можете обратиться к нашему менеджеру за консультацией
                </p>
            </div>
        </div>

    </div>
</section>