<footer class="footer flex flex-col">
    <section id="contacts" class="contacts bg-secondary-white p-10">
        <div class="contacts__container flex flex-col items-center">
            <h2 class="contacts__title mb-5 text-4xl font-extrabold">Контакты</h2>
            <p class="contacts__desc mb-3 text-center">Если у Вас есть какие-то вопросы, свяжитесь, пожалуйста, с нашим менеджером любым удобным способом</p>
            <div class="contacts__socials flex gap-7">
                <button class="contact__social bg-white whatsapp"><span>Whats App</span></button>
                <button class="contact__social bg-white telegram"><span>Telegram</span></button>
                <button class="contact__social bg-white instagram"><span>Instagram</span></button>
            </div>
        </div>
    </section>
    <section class="signature">
        <div class="signature__container py-10 text-center">
            Mister Bid <span class="signature__year"></span>
        </div>
    </section>
</footer>