<main class="main bg-secondary-white py-28 max-[520px]:py-16 overflow-hidden">
    <div class="main__container">
        <div class="width-container  max-w-[43%] max-[854px]:max-w-[52%] max-[643px]:max-w-[62%] max-[560px]:max-w-[85%]">
            <h1 class="main__title font-extrabold mb-10">
                Совместные инвестиции <span class="text-water">до 30%</span> годовых в аукцион автомобилей ОАЭ
            </h1>
            <div class="main__buttons flex gap-5 max-[530px]:flex-col">
                <button class="button px-6 py-3 rounded-standart w-max">Доход до 30%</button>
                <button class="button button--bgOcean px-6 py-3 rounded-standart w-max">Начать инвестировать</button>
            </div>
        </div>
    </div>
</main>